:root {
  --fontFamily-body: poppins, sans-serif;
  --fontFamily-title: 'Clicker Script', cursive;

  --fontSize-body: 1rem;

  --color-black: #000000;
  --color-burgundy: #5e1727;
  --color-duskyPink: #ca8e99;
  --color-mintGreen: #adb8ae;
  --color-white: #fdfdfd;
  --color-whiteIvory: #f0f0f0;

  --color-background: var(--color-whiteIvory);
  --color-card: var(--color-burgundy);
  --color-dividers: var(--color-whiteIvory);
  --color-font-title: var(--color-whiteIvory);
  --color-link: var(--color-burgundy);
  --color-link--hover: var(--color-duskyPink);

  font-size: 100%;

  @media (min-width: 650px) {
    --fontSize-body: 1.3rem;
  }
}

body {
  background-color: var(--color-background);
  font-family: var(--fontFamily-body);
  font-size: var(--fontSize-body);
  margin: 0;
  padding: 0;
}