<form (submit)="onSubmit($event)">
    <div>
        <label for="invite-inviteType">Invite type</label>

        <select name="invite-inviteType" id="invite-inviteType" (input)="onTypeChange($event)" required>
            <option></option>
            <option *ngFor="let type of inviteTypes" [value]="type" [selected]="invite.type === type">{{type}}</option>
        </select>
    </div>

    <div>
        <label for="invite-number">Invite number</label>

        <input name="invite-number" type="text" readonly id="invite-number" [value]="invite.inviteNumber" required />
    </div>

    <div>
        <label for="invite-pin">Invite pin</label>

        <input name="invite-pin" type="text" readonly id="invite-pin" [value]="invite.pin" required />
        <button (click)="onRegeneratePin()" type="button">Regenerate pin</button>
    </div>

    <button type="submit">Save</button>
</form>
