{{invite.inviteNumber}} - {{invite.type}}

<button (click)="onEdit()">Edit</button>
<button (click)="onRemove()" [disabled]="((guests$ | async)?.length ?? 0) > 0">Remove</button>
<button (click)="onAddGuest()">Add guest</button>

<ng-container *ngIf="(guests$ | async) as guests">
    <aa-guests [guests]="guests" (edit)="onEditGuest($event)" (remove)="onRemoveGuest($event)"></aa-guests>
</ng-container>

<aa-manage-guest [invite]="invite" [guest]="managingModel" *ngIf="managingModel" (close)="onClose()"></aa-manage-guest>
