.invites {
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0;

  @media screen and (min-width: 800px) {
    margin-top: 2rem;
  }
}

.invite {
  & + & {
    margin-top: 1rem;

    @media screen and (min-width: 800px) {
      margin-top: 2rem;
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
}

.filters {
  align-items: center;
  display: flex;
  margin-right: 10px;
}

.count {
  margin-right: 10px;
}

.guestCount {
  margin-left: 10px;
}

.actions {
  align-items: center;
  display: flex;
  margin: 0 -10px;
}

.actions > * {
  margin: 0 10px;
}