<div class="actions">
    <div class="filters">
        <p class="count">{{invites?.length || 0}} invites</p>
        <aa-filter></aa-filter>
        <p class="guestCount">Showing {{guestCount}} guests</p>
    </div>

    <aa-button label="Add new invite" (activate)="onAdd()"></aa-button>
</div>

<ul *ngIf="invites" class="invites">
    <li *ngFor="let invite of invites" class="invite">
        <aa-invite [invite]="invite" (edit)="onEdit(invite)" (remove)="onRemove(invite)"></aa-invite>
    </li>
</ul>

<aa-modal *ngIf="managingModel" >
    <aa-manage-invite [invite]="managingModel" (close)="onClose()"></aa-manage-invite>
</aa-modal>
