.field {
  & + & {
    margin-top: 1rem;
  }
}

.actions {
  display: flex;
  margin-top: 1rem;
}

.action {
  & + & {
    margin-left: 10px;
  }
}

:host {
  display: block;
  max-width: 100%;
  width: 400px;
}