details {
  background-color: var(--color-card);
  border-left: 1rem solid var(--color-guest);
}

summary {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  @media screen and (min-width: 800px) {
    padding: 1rem 2rem;
  }
}

.field {
  flex: 0 1 auto;
  margin-right: 10px;

  &:first-child {
    flex: 1 1 auto;

    @media screen and (min-width: 1200px) {
      flex: 1 1 25%;
    }
  }

  @media screen and (min-width: 1200px) {
    flex: 1 1 25%;
  }
}

.actions {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
}

.action {
  margin: 10px 0;
}

.otherInfo {
  background: var(--color-guest);

  &:not(:empty) {
    padding: 1rem;

    @media screen and (min-width: 800px) {
      padding: 2rem;
    }
  }

  .field {
    margin-right: 0;

    & + .field {
      margin-top: 1rem;
    }
  }
}

.label,
.comments {
  font-size: 0.8rem;
}

.menu {
  text-align: center;
}

.dietary {
  background: var(--color-card);
  padding: 2rem;
}