:host {
  background: var(--color-card);
  display: inline-flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1rem;

  @media screen and (min-width: 800px) {
    padding: 2rem;
  }
}

.label {
  font-size: 0.8rem;
}

p {
  margin: 0;
}

.item {
  & + & {
    margin-top: 1rem;
  }
}