<form (submit)="onSubmit($event)">
    <aa-input-option
            class="field"
            label="Invite type"
            [required]="true"
            [value]="invite.type"
            [options]="inviteTypes"
            (valueChange)="invite.type = $any($event)"></aa-input-option>
    <aa-input-text
            class="field"
            label="Invite number"
            [required]="true"
            [readonly]="true"
            [value]="invite.inviteNumber.toString(10)"></aa-input-text>
    <div class="field">
        <aa-input-text label="Invite pin" [required]="true" [readonly]="true" [value]="invite.pin"></aa-input-text>
        <aa-button class="action" label="Regenerate pin" (activate)="onRegeneratePin()"></aa-button>
    </div>

    <div class="actions">
        <aa-button class="action positive" label="Save" type="submit"></aa-button>
        <aa-button class="action" label="Cancel" (activate)="onCancel()"></aa-button>
    </div>
</form>
